body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Raleway';
  -webkit-font-smoothing: antialiased;
    background: #262934;

  }
  header{
    top:0px;
    width: 100%;
    position:fixed;
    background: #1B242F;
  }
  nav{
    padding: 12px;
    height: 50px;
    border-bottom: 3px solid #04C2C9;
  }
  
  .list_item{
    display: inline;
    margin-right: 30px;
    padding: 5px;
  }
  .menu_item{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px;
  }
  .menu_item:hover { 
    color: #E31B6D;
    text-decoration: none;
}
.front{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  .hallo{
    font-size: 32pt;
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
    }
  .box{
    font-size: 17pt;
    color: white;
    width: auto;
    height: auto;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
  }
  .box:hover{
    color:#262934;
    background-color: white;
  }
  a:link{text-decoration: none;}
  
 
  .hr{
    background: white;
    height: 1px;
    width: 92%;
    color: rgb(233, 233, 243);
  }
  .about{
    
    height: 100vh;
    width: 75%;
  }
  .col-6{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  .foto{
  
    width: 250px;
    height: 250px;
    border: 1px solid white;
  }
  