html{
  scroll-behavior: smooth; 
} 
body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  background: #262934;
  }
  
  header{
    top:0px;
    width: 100%;
    position:fixed;
    background: #1B242F;
    z-index: 10;
  }
  nav{
    padding: 12px;
    height: 50px;
    border-bottom: 3px solid #04C2C9;
  }
  
  .list_item{
    display: inline;
    margin-right: 30px;
    padding: 5px;
  }

  .menu_item{
    color: white;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px;
    font-size:14pt;
    
    }
  .menu_item:hover { 
    color: #E31B6D;
    text-decoration: none;
    transition: 1.0s;
}
.front{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  .hallo{
    font-size: 40pt;
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
    /* border-bottom: 3px solid#E31B6D; */
    }
    .anim{
      border: 3px solid#E31B6D;
    }
  .hire{
    font-weight: bold;
    font-size: 17pt;
    color: white;
   margin-top: 30px;
    padding: 10px;
    border: 1px solid #E31B6D;
    border-radius: 5px;
    transition: 0.6s;
  }
  .hire:hover{
    color:#262934;
    background-color: #04C2C9;
    border: 1px solid #04C2C9;
  }
  .ask{
    color: white;
  }
  .ask:hover{
    color: #E31B6D;
    transition: 0.5s;
  }
  a:link{text-decoration: none;}
  .hr{
    background: white;
    height: 1px;
    width: 92%;
    color: rgb(233, 233, 243);
  }
  .about{
    height: 95vh;
    width: 95%;
    display: flex;
    justify-content:space-evenly;
  }
  .fotobox{
    margin-top:25vh;
    border: 1px solid #04C2C9;
    width: 350px;
    height: 350px;
    background-image: url(img/foto.jpg);
    background-size: cover;
    border-radius: 10%;
    box-shadow: 7px 5px 2px 3px rgba(18, 18, 52, 0.4);
    filter: blur(0px) grayscale(50%);
  }
  .work{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 18vh;
  }
 .uberschrift{
   font-size: 24pt;
   text-transform: uppercase;
   color: aliceblue;
   margin-bottom:3vh;
   height: 45px;
  text-align: center;
  border-bottom: 1px solid white;
  font-family: 'Lato', sans-serif;
 } 
 .work_text{
   color: white;
   line-height: 50px;
   font-size: 15pt;
   margin-bottom: 4vh;
 }
 .work_text_items{
   font-size: 18pt;
 }
 .interests_text{
   color: white;
   font-size: 15pt;
 }
 
 .skills{
  height: 40vh;
  width: 75%;
  display:flex;
  flex-direction: column;
  text-transform: uppercase;
  margin-top: 3vh;
 }
 .uberschrift_skills{
  font-family: 'Lato', sans-serif;
  font-size: 24pt;
  color: aliceblue;
  margin-bottom:3vh;
  height: 45px;
 text-align: center;
 border-bottom: 1px solid white;
 width: 100px;
}
 .big{
  display: flex;
  align-items: center; /* vertikale achse*/
  justify-content:space-evenly;
    margin: 10px;
  }
  
  .box{
    font-family: "Open Sans", sans-serif;
    color: white;
    border: 1px solid black;
    background: #04C2C9;
    padding:10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(200,200,200,0.4);
  }
  .contact{
   height: 70vh;
   display:flex;
   align-items: center;
   flex-direction: column;
   width:40%;
   margin-bottom: 10vh;
  }
  .last{
    margin-top: 10vh;
  }
  .name{
    width: 100%;
    border: none;
    color: white;
    background: #1E242C;
    margin-bottom: 4px;
    padding: 10px 15px;
    font-size: 12pt;
  }
  textarea{ 
    width:100%;
    color: white;
    background: #1E242C;
    margin-bottom: 4px;
    padding: 10px 15px;
    border: none;
  }
  .button{
    color: white;
    margin: 5px 0 0 0;
    font-size: 14pt;
    padding: 10px 20px 12px;
    background: none;
    border-radius: 6px;
    position: relative;
    left: 230px;
    text-align: center;
  }
  .button:hover{
    background-color:#E31B6D;
    transition: 0.6s;
  }
  footer{
    display:flex;
    align-items: center;
    justify-content: center;
    Color: aliceblue;
    background: #1B242F;
    width:100%;
    height: 20vh;
  }
  .impressum{
    font-size: 14pt;
  }